@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height:1.5;
}

html {
  font-family: 'Open Sans', 'Numito Sans', Arial, sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/*-------------------------------------*/
/* Hero Banner                         */
/*-------------------------------------*/
header {
  height: 80px;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  h3 {
    text-align: right;
    height: 65px;
    margin-top:30px;
    margin-right:50px;
    font-weight: 700;
    word-spacing: 0.4px;
    font-size: 0.850rem;
  }
}

.hero-banner {
  /* height: 100%? 100% of what? */
  height: 600px;
  background: #fff url('../img/gradient.jpg') center center / cover no-repeat;

  img {
    height: 65px;
    margin-top:10px;
    margin-left: 50px;
  }

  a {
    padding: 15px 25px;
    text-decoration: none;
    background-color: #2f02d0;
    color: #fff;
    font-size: 0.850rem;
    border-radius: 10px;
  }
}

.hero-banner-main {
  height: calc(100% - 80px - 80px);
  display: grid;
  place-items: center;
}

header, .hero-banner-bottom {
  height: 80px;
  background-color: transparent;
}

.hero-banner-content {
  text-align: center;

  h2 {
    font-size: 2.875rem;
    font-weight: 700;
    color: #fff;
    margin-top: 100px;
  }

  p {
    margin-top: 6px;
    font-size: 1.375rem;
    font-weight: 350;
    color: #fff;
    letter-spacing: 0.4px;
  }

  .hero-banner-buttons {
    margin-top: 45px;

    a {
      padding: 15px 28px;
      text-decoration: none;
      border-radius: 50px;
    }

    .primary {
      background-color: #01468b;
      color: #fff;
      transition: all 0.2s ease-in-out;
      font-size: 0.850rem;
      font-weight: 700;
    }

    .primary:hover {
      background-color: #003162;
    }

    .secondary {
      background-color: #fff;
      color: #01468b;
      transition: all 0.2s ease-in-out;
      margin-left: 12px;
      font-size: 0.850rem;
      font-weight: 700;
    }

    .secondary:hover {
      background-color:rgb(180, 180, 180);
    }
  }
}

/*-----------------------------*/
/* Information                 */
/*-----------------------------*/

.the-project {
  h2 {
    padding: 20px 200px;
    font-size: 1.25rem;
    margin-top: 50px;
    font-weight: 600;
    text-align: center;
  }

  p {
    padding: 20px 200px;
    font-size: 1.225rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    word-spacing: 2px;
  }
}

/*-------------------------------------

Some rules require a prefix to indicate 
their browser specific implementaition

-webkit     Chrome, Edge and Safari
-moz        Firefox
-o          Opera

-------------------------------------*/